# Supabase — consíguelas en: Project Settings > Data API
NEXT_PUBLIC_SUPABASE_URL=https://TU_PROJECT_ID.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=TU_ANON_KEY

# TMDB — consigue tu API key gratis en: https://www.themoviedb.org/settings/api
TMDB_API_KEY=TU_TMDB_API_KEY
